<div class="accordion-item">
          <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                              data-bs-target="#Collapse<%= deviceItem.id %>" aria-expanded="true" aria-controls="collapseOne">
                    <%= deviceItem.name %>
                    </button>
                   
          </h2>
          <div id="Collapse<%= deviceItem.id %>" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                             
                              
                              
                              <%= deviceItem.status%>
                    <div class="col">
                    <label for='condition' class='form-label text-dark'>
                              device ID</label>
                              <input readonly id='deviceCondition' name="condition" class='form-label mw-auto' type="text"
                                        value="<%= deviceItem.condi %>">
                              
                    <label for='deviceName' class='form-label text-dark'>
                              device name</label>
                    
                    <input readonly id='deviceCondition' name="condition" class='form-label mw-auto' type="text" value="<%= deviceItem.condi %>">
                   
                    <input readonly id='deviceID' name="deviceID" class='form-label' type="text" value="<%= device.id %>">
                    
                    </div>
                    </div>
                   
          </div>
</div>