<div id="updateFormContainer" class='col-lg'>
          <form id="updateDevice<%= device.id %>" method='post' name="updateDeviceForm" action='updateDevice'>

                    <div class='row'>
                              <label for='deviceID' class='form-label text-dark'>
                              device ID
                              <input disabled name="deviceID" class='form-label' type="number" value='<%= device.id %>'>

                              </label>
                    </div>
                    <!-- Device name -->
                    <div class="col">
                              <label class='form-label text-dark' for='deviceName'>Device</label>
                              <select id="selectedDeviceName" class='text-dark' name="deviceName">
                                        <option><%= device.name %></option>
                              </select> 
                    </div>

                    <!-- Status -->
                    <label class='text-dark form label' for='status'>Device status</label>
                    <% if(device.status==1) { %>
                    <div class="form-check">
                              <input class="form-check-input" type="radio" name="status" id="deviceOn" checked value=1>
                              <label class="form-check-label" for="flexRadioDefault1">
                                        On
                              </label>
                    </div>
                    <div class="form-check">
                              <input class="form-check-input" type="radio" name="status" id="deviceOff" value=0 >
                              <label class="form-check-label" for="flexRadioDefault2">
                                        Off
                              </label>
                    </div>
                    <% } else { %>
                              <div class="form-check">
                                        <input class="form-check-input" type="radio" name="status" id="deviceOn" value=1>
                                        <label class="form-check-label" for="flexRadioDefault1">
                                                  On
                                        </label>
                              </div>
                              <div class="form-check">
                                        <input checked class="form-check-input" type="radio" name="status" id="deviceOff" value=0>
                                        <label class="form-check-label" for="flexRadioDefault2">
                                                  Off
                                        </label>
                              </div>
                    <% } %> 


                    <!-- Condition -->
                    <label for="condition">Device condition</label>
                    <select name="condition" class="form-select" size="3" aria-label="size 3 select">
                              <% if(device.condi==0) { %>
                                        <option selected value=0>Operational</option>
                                        
                                        <option  value=1>Remote</option>
                                        <option  value=2>Disconnected</option>
                                       
                              <% } else if(device.condi==1) { %>
                                        <option value=0>Operational</option>

                                        <option selected value=1>Remote</option> 
                                        
                                        <option value=2>Disconnected</option>
                                      
                              <% } else if(device.condi==2) { %> 
                                        <option value=0>Operational</option>
                                        <option value=1>Remote</option>
                                        
                                        <option selected value=2>Disconnected</option>
                                        
                                        
                                       
                              <% }else { %>
                                        <option value=0>Operational</option>
                                        <option value=1>Remote</option>
                                        <option value=2>Disconnected</option>
                                        
                                        
                              <% } %>
                    </select>
                    <!-- Temperature -->
                    <label class="form-label">Temperature</label>
                    <input type="text" name="temperature" value="<%= device.temperature!= null ? device.temperature : ''%>" >

                    <!-- Volume -->
                    <label class='form-label text-dark' for='volume'>Volume</label>
                    <input type="range" defaultValue=null value="<%= device.volume!= null ? device.volume : ''%>" name="volume">

                    <button onClick="validateUpdateForm(availableDevices,'<%= device.id%>')" class="btn btn-submit" type='button'>Update</button>
          </form>
</div>
<script>
          var availableDevices = '<%- JSON.stringify(availableDevices) %>' 
</script>
          
